@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-columns: auto 1fr;
}
#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);

  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}
#sidebar.close {
  padding: 5px;
  width: 60px;
}
#sidebar ul {
  list-style: none;
}
#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo {
    font-weight: 600;
  }
}
#sidebar ul li.active a {
  color: var(--accent-clr);

  svg {
    fill: var(--accent-clr);
  }
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}
.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}
#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-clr);
}
#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}
#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
}
#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}
#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}
.dropdown-btn svg {
  transition: 200ms ease;
}
.rotate svg:last-child {
  rotate: 180deg;
}
#sidebar .sub-menu a {
  padding-left: 2em;
}
#toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;

  svg {
    transition: rotate 150ms ease;
  }
}
#toggle-btn:hover {
  background-color: var(--hover-clr);
}

main {
  padding: min(30px, 7%);
}
main p {
  color: var(--secondary-text-clr);
  margin-top: 5px;
  margin-bottom: 15px;
}
.container {
  border: 1px solid var(--line-clr);
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(3em, 15%);

  h2,
  p {
    margin-top: 1em;
  }
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }
  main {
    padding: 2em 1em 60px 1em;
  }
  .container {
    border: none;
    padding: 0;
  }
  #sidebar {
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--line-clr);
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;

    > ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }
    ul li {
      height: 100%;
    }
    ul a,
    ul .dropdown-btn {
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }

    ul li span,
    ul li:first-child,
    .dropdown-btn svg:last-child {
      display: none;
    }

    ul li .sub-menu.show {
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      background-color: var(--hover-clr);
      border-top: 1px solid var(--line-clr);
      display: flex;
      justify-content: center;

      > div {
        overflow-x: auto;
      }
      li {
        display: inline-flex;
      }
      a {
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
  }
}
/*start here*/
#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}
#logo {
  width: 170px;
  height: 180px;
  margin-right: -40px;
}
#parentbody {
  display: flex;
  flex-direction: row;
}
#sidebarparent {
  display: flex;
  flex-direction: column;
}
#maindatabody {
  display: flex;
  flex-direction: column;
}
#referenceheading {
  margin-top: 2rem;
  font-size: 4rem;
  margin-left: 30rem;
  font-weight: 600;
}
#referenceborder {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  width: 1351px;
  height: fit-content;
  backdrop-filter: blur(1px);
}
#datasetborder {
  margin-left: 110px;
  margin-right: 40px;
  margin-top: 42px;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  width: 70rem;
  height: fit-content;
  backdrop-filter: blur(2px);
padding-bottom: 1rem;
}
#nasalogo {
  margin-top: 1rem;
  margin-left: 23rem;
  width: 20rem;
}
#datasourceheading {
  margin-top: 2rem;
  font-size: 2.5rem;
  margin-left: 22rem;
  font-weight: 600;
}
#datasetheadingparent {
  display: flex;
  flex-direction: row;
}
#dataset1heading {
  margin-top: 2.5rem;
  font-size: 1.2rem;
  margin-left: 14rem;
  font-weight: 500;
}
#OSD-379button {
  margin-top: 2.2rem;
  margin-left: 2rem;
  cursor: pointer;
}
#OSD-379 {
  width: 7rem;
  height: 2rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}
#OSD-379:hover {
  background-color: rgb(229, 224, 224);
}
#dataset2heading {
  margin-top: 1rem;
  font-size: 1.2rem;
  margin-left: 14rem;
  font-weight: 500;
}
#OSD-665button {
  margin-top: 0.3rem;
  margin-left: 1.6rem;
}
#acknowledgementheading {
  margin-top: 4rem;
  font-size: 2.5rem;
  margin-left: 13rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
#acknowledgement {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
}
a[href="https://osdr.nasa.gov/bio/repo/data/studies/OSD-379"]
{
  color: #000000;
  text-decoration: none;
}
a[href="https://osdr.nasa.gov/bio/repo/data/studies/OSD-665"]
{
  color: #000000;
  text-decoration: none;
}
a:visited[href="https://osdr.nasa.gov/bio/repo/data/studies/OSD-379"]
{
  color: #000000;
  text-decoration: none;
}
a:visited[href="https://osdr.nasa.gov/bio/repo/data/studies/OSD-665"]
{
  color: #000000;
  text-decoration: none;
}

#baapparent {
  display: flex;
flex-direction: column;

}
#baap1{
  display:flex;
  flex-direction: row;
  width:23rem;
}
#a{
  width: fit-content;
   height: fit-content;
    margin-top: 45px;
    margin-left:45px;
    
}
#b{
  
  width: fit-content;
   height: fit-content;
    margin-top: -25rem;
    margin-left:35rem;
 
}
#c{
  width: fit-content;
  height: fit-content;
   margin-top: 3rem;
   margin-left:45px;
   
}
#d{
  width: 20rem;
  height: 20rem;
   margin-top: -25rem;
   margin-left:35rem;
   
}
#e{
  width: fit-content;
  height: fit-content;
   margin-top: 7rem;
   margin-left:45px;
   
}
#f{
  width: 20rem;
  height: 20rem;
  margin-top: 3rem;
  margin-left:2.7rem;
  
}
#g{
  width: fit-content;
  height: fit-content;
  margin-top: 10rem;
  margin-top: 10rem;
  margin-left:45px;
   
}
#h{
  width: fit-content;
  height: fit-content;
  margin-top: 2rem;
  margin-left:2.7rem;
  
}

#work{
  font-size: 1.4em;
  margin-left:45px;
 
  margin-top:3.5rem;
  width: fit-content;
  margin-left: 8rem;
}
ul{
  padding: .2rem;
}